@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 24, 24, 27;
  --background-end-rgb: 9, 9, 11;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  transition: background-color 0.5s ease;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(24, 24, 27);
}

::-webkit-scrollbar-thumb {
  background: rgb(63, 63, 70);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(161, 161, 170);
}
